body{
    background-image: url('./background.jpg');/*Set image*/
    background-position: center center;/*center [vertically][horizontally]*/
    background-repeat: no-repeat;/*fits */
    background-attachment: fixed;/*moves relative to content size*/
    background-size: cover; /*Scale based on container*/
    font-family: 'Josefin Sans',sans-serif;
}
*:focus{
	outline: none;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #F8F8F8;
    margin: 1em;
}
.form-wrap{
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date.invalid{
    border: solid red 2px;
    border-radius: .125em;
    background: hsla(0, 78%, 67%, 1);
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    flex-direction: column;
    color: #F8F8F8;
}
.grid-wrap{
	display: grid;
	margin: 1em 10em;
}
.grid-wrap>div{
	border: solid white 2px;
	margin: 2em;
	color: white;
}
.weight-wrap{
	display: grid;
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}
.weight-wrap>div{
	margin: 1em;
	border: solid hsla(0, 78%, 67%, 1);
}
.weight-current{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;
	font-size: 1.75em;
	grid-column: 1 / span 1;
	grid-row: 1 / span 2;
}
.weight-current>h4{
	margin: 0 0;
}
.changeCurrent{
	text-align: center;
	background: transparent;
	border: none;
	color: white;
	font-family: 'Josefin Sans',sans-serif;
	font-style: italic;
	font-size: 1em;
	width: 4em;
	margin: .95em 1em;
}
.weight-metrics{
	display: grid;
	justify-items: center;
	text-align: center;
	grid-column: 2/span 1;
	grid-row: 1/span 1;
}
.weight-total{
	grid-column: 1 / span 2;
}
.weight-pace{
	justify-items: center;
	text-align: center;
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}
.todo-wrap{
	display: flex;
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	flex-direction: column;
	font-size:.75em;
}
.add-wrapper{
	display: flex;
	justify-content: space-between;
	flex-flow: row-reverse wrap;
}
.adder{
	font-size: 2.5em;
	margin: 0em .25em;
}
.adder:hover{
	cursor: pointer;
}
.todo-form{
	display: none;
}
.todo-form.show{
	display: block;
	margin: .25em .5em;
}
.todo-item{
	display: flex;
	align-items: center;
}
.todo-item:hover{
	cursor: pointer;
}
.completed{
	text-decoration-line: line-through;
	order:-1;
}

